In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#sns.set_style('whitegrid')

In [66]:
#demo = pd.read_excel('Vendas_analise_yotube.xlsx', index_col='Data da Venda')
demo = pd.read_excel('Vendas_analise_yotube.xlsx')
demo.head()

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade,Unnamed: 9
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França - Europa,NaN
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos - América do Norte,NaN
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Gonzalez, Martin",Chile - América do Sul,NaN
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Ruiz, Victor",Alemanha - Europa,NaN
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,5.0,"Nelson, Alex",Estados Unidos - América do Norte,NaN

----------------

### 1.0 Informações sobre o DataFrame.

In [67]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203888 entries, 0 to 203887
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Data da Venda   203888 non-null  object
 1   Produto         203882 non-null  object
 2   Categoria       203882 non-null  object
 3   PrecoUnitario   203882 non-null  float64
 4   Custo Unitário  203882 non-null  float64
 5   Marca           203882 non-null  object
 6   Qtd. Vendida    203882 non-null  float64
 7   Nome Cliente    203882 non-null  object
 8   Localidade      203882 non-null  object
 9   Unnamed: 9      2 non-null       object
dtypes: float64(3), object(7)
memory usage: 15.6+ MB

### 1.1 Descrição das variáveis númericas.

In [68]:
demo.describe()

       PrecoUnitario  Custo Unitário   Qtd. Vendida
count  203882.000000   203882.000000  203882.000000
mean      159.804995       66.437852       1.986880
std       224.677022       85.880331       1.408089
min         4.980000        2.540000       1.000000
25%         8.990000        4.130000       1.000000
50%        70.130000       32.250000       1.000000
75%       181.000000       82.320000       3.000000
max      1650.000000      546.680000       5.000000

In [69]:
demo.corr()

                PrecoUnitario  Custo Unitário  Qtd. Vendida
PrecoUnitario        1.000000        0.976395     -0.008719
Custo Unitário       0.976395        1.000000     -0.008054
Qtd. Vendida        -0.008719       -0.008054      1.000000

--------------

### 1.3 - Tratandoo e excluindo colunas e linas vazias.

In [70]:
demo.drop('Unnamed: 9', axis=1, inplace=True)

In [71]:
demo = demo.dropna()
demo.head(2)

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França - Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos - América do Norte

In [72]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203882 entries, 0 to 203881
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Data da Venda   203882 non-null  object
 1   Produto         203882 non-null  object
 2   Categoria       203882 non-null  object
 3   PrecoUnitario   203882 non-null  float64
 4   Custo Unitário  203882 non-null  float64
 5   Marca           203882 non-null  object
 6   Qtd. Vendida    203882 non-null  float64
 7   Nome Cliente    203882 non-null  object
 8   Localidade      203882 non-null  object
dtypes: float64(3), object(6)
memory usage: 15.6+ MB

------

### 2.0 - Separando os tipos de variáveis em númericas e Categoricas (string ou Object).
    Numericas - int64, int, float64, float.
    Categoricas  - object.

In [73]:
demo.head(2)

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França - Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos - América do Norte

In [74]:
numericas = demo[['PrecoUnitario','Custo Unitário','Qtd. Vendida']]
numericas.head()

   PrecoUnitario  Custo Unitário  Qtd. Vendida
0        1109.00          367.43           1.0
1         215.62           71.44           1.0
2         215.62           71.44           1.0
3         215.62           71.44           1.0
4         215.62           71.44           5.0

In [75]:
categoricas = demo[['Data da Venda', 'Produto', 'Categoria', 'Marca', 'Nome Cliente', 'Localidade']]
categoricas.head()
#Data da Venda	Produto	Categoria	PrecoUnitario	Custo Unitário	Marca	Qtd. Vendida	Nome Cliente	Localidade

,Data da Venda,Produto,Categoria,Marca,Nome Cliente,Localidade
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,Litware,"Pinheiro, Vicente",França - Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Lopez, Marlon",Estados Unidos - América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Gonzalez, Martin",Chile - América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Ruiz, Victor",Alemanha - Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Nelson, Alex",Estados Unidos - América do Norte

### 2.1 - Tratamento das variáveis Categoricas.
    Coluna - Localidade
    2.1.0 Tratatando da coluna Localidade e mudando para duas novas colunas.
    2.1.1 - Continente
    2.1.2 - País
    2.1.3 - apagando a coluna Localidade

In [76]:
# 2.1.0 Tratatando da coluna Localidade e mudando para duas novas colunas.
# 2.1.2 - País
pais = categoricas['Localidade'].apply(lambda x : x.split(' - ')[0])

In [77]:
pais.head()

0            França
1    Estados Unidos
2             Chile
3          Alemanha
4    Estados Unidos
Name: Localidade, dtype: object

In [78]:
# 2.1.0 Tratatando da coluna Localidade e mudando para duas novas colunas.
# 2.1.2 - País
continente = categoricas['Localidade'].apply(lambda x : x.split(' - ')[1])
continente.head()

0              Europa
1    América do Norte
2      América do Sul
3              Europa
4    América do Norte
Name: Localidade, dtype: object

In [79]:
categoricas['País'] = pais
categoricas['Continente'] = continente

C:\Users\55859\AppData\Local\Temp\ipykernel_4248\518892014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas['País'] = pais
C:\Users\55859\AppData\Local\Temp\ipykernel_4248\518892014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas['Continente'] = continente

In [80]:
categoricas.head()

,Data da Venda,Produto,Categoria,Marca,Nome Cliente,Localidade,País,Continente
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,Litware,"Pinheiro, Vicente",França - Europa,França,Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Lopez, Marlon",Estados Unidos - América do Norte,Estados Unidos,América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Gonzalez, Martin",Chile - América do Sul,Chile,América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Ruiz, Victor",Alemanha - Europa,Alemanha,Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Nelson, Alex",Estados Unidos - América do Norte,Estados Unidos,América do Norte

In [81]:
# 2.1.3 - apagando a coluna Localidade
categoricas.drop('Localidade', axis=1, inplace=True)
categoricas.head(2)

C:\Users\55859\AppData\Local\Temp\ipykernel_4248\1487228126.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas.drop('Localidade', axis=1, inplace=True)

,Data da Venda,Produto,Categoria,Marca,Nome Cliente,País,Continente
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,Litware,"Pinheiro, Vicente",França,Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Lopez, Marlon",Estados Unidos,América do Norte

In [82]:
categoricas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203882 entries, 0 to 203881
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Data da Venda  203882 non-null  object
 1   Produto        203882 non-null  object
 2   Categoria      203882 non-null  object
 3   Marca          203882 non-null  object
 4   Nome Cliente   203882 non-null  object
 5   País           203882 non-null  object
 6   Continente     203882 non-null  object
dtypes: object(7)
memory usage: 12.4+ MB

-------------

### 3.0 - Tratamento das variáveis Numéricas.
    Relção de preço, custo e lucro.
    3.1 - Preço unitário foi no quanto foi vendido para o consumidor final.
    3.2 - Custo unitário foi quanto essa mercadoria custou para o dono do negócio.
    3.3 - Valor real -> Quantas unidades reais foram vendidas
    3.3 - O custo real por unidade vendida.
    3.4 - Novas colunas -> 'Venda Real', 'Custo real'.
    3.5 - Nova varial -> 'lucro'
######    3.6 - OBS: lembrando que as variáveis 'Venda Real', 'Custo real' não entraram para o Modelo de Machine learning lá na frente.

In [83]:
numericas.head()

   PrecoUnitario  Custo Unitário  Qtd. Vendida
0        1109.00          367.43           1.0
1         215.62           71.44           1.0
2         215.62           71.44           1.0
3         215.62           71.44           1.0
4         215.62           71.44           5.0

In [84]:
# 3.1 - Preço unitário foi no quanto foi vendido para o consumidor final.
numericas['Valor das Vendas'] = numericas['PrecoUnitario'] * numericas['Qtd. Vendida']

# 3.2 - Custo unitário foi quanto essa mercadoria custou para o dono do negócio.
numericas['Custo Real'] = numericas['Custo Unitário'] * numericas['Qtd. Vendida']

# 3.5 - Nova varial -> 'lucro'
numericas['Lucro'] = numericas['Valor das Vendas'] - numericas['Custo Real']

numericas.head()

C:\Users\55859\AppData\Local\Temp\ipykernel_4248\891723642.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numericas['Valor das Vendas'] = numericas['PrecoUnitario'] * numericas['Qtd. Vendida']
C:\Users\55859\AppData\Local\Temp\ipykernel_4248\891723642.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numericas['Custo Real'] = numericas['Custo Unitário'] * numericas['Qtd. Vendida']
C:\Users\55859\AppData\Local\Temp\ipykernel_4248\891723642.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numericas['Lucro'] = numericas['Valor das Vendas'] - numericas['Custo Real']

,PrecoUnitario,Custo Unitário,Qtd. Vendida,Valor das Vendas,Custo Real,Lucro
0,1109.00,367.43,1.0,1109.00,367.43,741.57
1,215.62,71.44,1.0,215.62,71.44,144.18
2,215.62,71.44,1.0,215.62,71.44,144.18
3,215.62,71.44,1.0,215.62,71.44,144.18
4,215.62,71.44,5.0,1078.10,357.20,720.90

In [85]:
numericas.corr()

,PrecoUnitario,Custo Unitário,Qtd. Vendida,Valor das Vendas,Custo Real,Lucro
PrecoUnitario,1.000000,0.976395,-0.008719,0.750265,0.722834,0.751876
Custo Unitário,0.976395,1.000000,-0.008054,0.733829,0.741803,0.713814
Qtd. Vendida,-0.008719,-0.008054,1.000000,0.375742,0.403746,0.350655
Valor das Vendas,0.750265,0.733829,0.375742,1.000000,0.979522,0.992169
Custo Real,0.722834,0.741803,0.403746,0.979522,1.000000,0.946705
Lucro,0.751876,0.713814,0.350655,0.992169,0.946705,1.000000

In [86]:
numericas.describe()

,PrecoUnitario,Custo Unitário,Qtd. Vendida,Valor das Vendas,Custo Real,Lucro
count,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000
mean,159.804995,66.437852,1.986880,314.754825,131.030044,183.724782
std,224.677022,85.880331,1.408089,583.330208,226.193123,364.624315
min,4.980000,2.540000,1.000000,4.980000,2.540000,2.440000
25%,8.990000,4.130000,1.000000,21.560000,11.000000,11.360000
50%,70.130000,32.250000,1.000000,99.990000,45.980000,54.880000
75%,181.000000,82.320000,3.000000,329.000000,161.250000,189.050000
max,1650.000000,546.680000,5.000000,8250.000000,2733.400000,5516.600000

---------------

### 4.0 - Preparando os dados para o Modelo de Machine learn para das variáveis Categoricas.
    4.1 - Produto
    4.2 - Categoria
    4.3 - Marca
    4.4 - Nome Cliente -> Está variável não vai para o modelo, então podemos remove-la.
    4.5 - País
    4.6 - Continente

In [87]:
categoricas.head()

,Data da Venda,Produto,Categoria,Marca,Nome Cliente,País,Continente
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,Litware,"Pinheiro, Vicente",França,Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Lopez, Marlon",Estados Unidos,América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Gonzalez, Martin",Chile,América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Ruiz, Victor",Alemanha,Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Nelson, Alex",Estados Unidos,América do Norte

###### 4.1 - Produto

In [88]:
#categoricas['Produto'].unique()
for num, cate in enumerate(categoricas['Produto'].unique()):
    print(f'{num+1} - {cate}')

1 - Sistema de Som 7.1 Channel X711 Prata
2 - 180 CFM Ventilador de Coluna X450 Preto
3 - Macro Zoom Lens X300 Branco
4 - Sistema de Som 2.1 Channel E211 Marrom
5 - Simulador de Vôo de Combate 3 E119
6 - Age of Mythology 2009 E158
7 - Fable: The Lost Chapters E107
8 - Hand Games for kids E300 Prata
9 - Hand Games women M40 Preto
10 - Hand Games women M400 Vermelho
11 - Age of Empires III: The Asian Dynasties M190
12 - Zoo Tycoon 2: Marine Mania Expansion Pack M270
13 - Headphone Azultooth M150 Verde
14 - Headphone Azultooth M150 Prata
15 - Dal of Honor Airborne 2008 M430
16 - Sistema de Som 7.1 Channel X711 Preto
17 - Age of Empires Expansion: The Rise of Rome X900
18 - Age of Empires 2008new M420
19 - Zoo Tycoon 2: African Adventure M280
20 - Hand Games men M30 Vermelho
21 - Hand Games women M40 Amarelo
22 - Macro Zoom Lens X300 Prata
23 - Rise of Nations: Thrones and Patriots M320
24 - Racing Madness 2 M370
25 - Age of Empires III: The Asian Dynasties M180
26 - Age of Empires II: The Conquerors Expansion 2009 E178
27 - Hand Games for Office worker L28 Preto
28 - Hand Games for 12-16 boys E60 Vermelho
29 - Hand Games for kids E300 Preto
30 - Telephoto Conversion Lens X400 Prata
31 - Hand Games men M300 Preto
32 - Rise of Nations: Rise of Legends M290
33 - Bicycle Board Games X500
34 - Bicycle Casino Games X700
35 - Ventilador Azul 17' M125
36 - LCD24W X300 Preto
37 - Simulador de Vôo 2000 M410
38 - Zoo Tycoon 2: Zookeeper Collection M260
39 - King& Myths: The Age Collection M340
40 - Hand Games men M30 Prata
41 - Hand Games men M30 Preto
42 - LCD24 X300 Branco
43 - Hand Games for students E40 Amarelo
44 - Hand Games for kids E30 Preto
45 - Impossible Creatures E114
46 - Return of Arcade Anniversary Edition M390
47 - Age of Mythology: Gold Edition 2009 E144
48 - Gears of War 2008 M450
49 - Simulador de Vôo 2009 E179
50 - Age of Empires II Gold Edition2009 E172
51 - MechWarrior 4: Vengeance 2009 E175
52 - Hand Games women M40 Prata
53 - Hand Games women M400 Amarelo
54 - Hand Games for kids E300 Amarelo
55 - Dungeon Siege X300
56 - Ventilador Amarelo 17'' M125
57 - Empires Collector's 2008 M440
58 - Sistema de Som 2.1 Channel E1200 Prata
59 - Freelancer 2009 E153
60 - Age of Empires III 2008 E139
61 - Shadow-run 2008 E131
62 - Dungeon Siege 2009 E163
63 - Zoo Tycoon 2: End range Species Expansion Pack E105
64 - Halo: Combat Evolved2009 E149
65 - Hand Games for Office worker L299 Preto
66 - Car Video LCD9.2W X9280 Preto
67 - MechWarrior 4: Vengeance X800
68 - Zoo Tycoon 2: Extinct Animals M210
69 - Racing Madness 2009 E169
70 - Zoo Tycoon2: Marine Mania Expansion Pack 2008 E135
71 - Zoo Tycoon 2 E108
72 - MechWarrior 4: Mercenaries E117
73 - Age of Empires Expansion: The Rise of Rome 2009 E181
74 - Hand Games for students E400 Amarelo
75 - Hand Games for kids E30 Amarelo
76 - Hand Games men M30 Amarelo
77 - Ventilador Branco 17'' M125
78 - Wireless Azultooth Stereo Headphones M270 Pink
79 - Primary Extended Capacity Battery Pack - notebook battery X100 Preto
80 - 2GB Spy Video Caneta Gravadora M300 Preto
81 - Zoo Tycoon Dinosaur Digs X200
82 - 180 CFM Ventilador de Coluna X450 Branco
83 - Sistema de Som 2.1 Channel E1220 Prata
84 - Sistema de Som 2.1 Channel E1220 Preto
85 - Sistema de Som 2.1 Channel E1220 Marrom
86 - Simulador de Vôo 2009: A Century of Flight E151
87 - Age of Mythology: The Titans Expansion 2009 E148
88 - MechWarrior4: Mercenaries2009 E157
89 - Age of Mythology: The Titans Expansion M350
90 - Age of Empires III: The War Chiefs M240
91 - Hand Games men M300 Amarelo
92 - Zoo Tycoon Dinosaur Digs2009 E162
93 - Dungeon Siege: Legends of Aranna 2009 E146
94 - MechWarrior 4: Knight E121
95 - Rise of Nations: Gold Edition M300
96 - RalliSport Challenge E115
97 - Age of Empires III: The Asian Dynasties E106
98 - Hand Games women M400 Prata
99 - Hand Games for Office worker L299 Prata
100 - Shadow-run M230
101 - 2GB Spy Video Caneta Gravadora M300 Branco
102 - MechCollection2009 E156
103 - Sistema de Som 2.1 Channel E1200 Marrom
104 - Simulador de Vôo X Acceleration Expansion Pack 2009 E128
105 - Sistema de Som 2.1 Channel E212 Marrom
106 - MechCommander 2 E123
107 - 2GB Pulse Smart pen M100 Prata
108 - Zoo Tycoon M380
109 - Hand Games for 12-16 boys E60 Preto
110 - Hand Games for students E40 Preto
111 - Hand Games for 12-16 boys E60 Amarelo
112 - Age of Empires II: The Age of Kings E126
113 - Age of Empires III: The Asian Dynasties 2009 E127
114 - Sistema de Som 2.1 Channel E210 Prata
115 - Age of Empires III: The War Chiefs 2007 E132
116 - Bicycle Board Games2009 E165
117 - Hand Games women M400 Preto
118 - Hand Games men M300 Prata
119 - 2GB Pulse Smart pen M100 Branco
120 - Coffee Maker Super-Auto 12C X1250 Preto
121 - Zoo Tycoon Complete Collection2009 E150
122 - MechWarrior 4 Mach Packs X100
123 - Sistema de Som 2.1 Channel E1200 Preto
124 - Simulador de Vôo 2009 E168
125 - Collector's M160
126 - Headphone Azultooth M150 Preto
127 - Ventilador Amarelo 18'' M135
128 - Ventilador Azul 18'' M135
129 - Ventilador Rosa 18'' M135
130 - Gears of War M170
131 - Simulador de Vôo de Combate 2 M400
132 - 22xDVD X680 Prata
133 - Bicycle Card Games2009 E166
134 - Fable: The Lost Chapters2008 E140
135 - Age of Mythology E118
136 - Hand Games women M40 Vermelho
137 - Hand Games for Office worker L299 Vermelho
138 - 2GB Pulse Smart pen M100 Preto
139 - Sistema de Som 7.1 Channel X711 Marrom
140 - Stereo Azultooth Headphones New Generation M370 Azul
141 - Zoo Tycoon Complete Collection E110
142 - Kings & Myths: The Age Collection2009 E147
143 - Age of Empires, 2009 E182
144 - Hand Games for kids E300 Vermelho
145 - Hand Games for Office worker L28 Amarelo
146 - Simulador de Vôo X M250
147 - 2GB Spy Video Caneta Gravadora M300 Prata
148 - Wireless Azultooth Stereo Headphones M270 Preto
149 - Wireless Azultooth Stereo Headphones M170 Preto
150 - Wireless Azultooth Stereo Headphones M170 Branco
151 - Stereo Azultooth Headphones New Generation M370 Orange
152 - Hand Games men M300 Vermelho
153 - LCD24 X300 Preto
154 - MechCollection E116
155 - 2GB Spy Video Caneta Gravadora M300 Azul
156 - 180 CFM Ventilador de Coluna X450 Vermelho
157 - Sistema de Som 2.1 Channel E1200 Branco
158 - Freelancer E113
159 - Age of Empires II Gold Edition E122
160 - 22xDVD X680 Preto
161 - 2GB Spy Video Caneta Gravadora M300 Purple
162 - Dungeon Siege: Legends of Aranna M330
163 - MechWarrior 4:Knight2009 E171
164 - Rise of Nations E112
165 - Hand Games for kids E30 Prata
166 - Ventilador Rosa 17'' M125
167 - Classic Flight Collection X400
168 - Hand Games for students E40 Prata
169 - Hand Games for 12-16 boys E600 Prata
170 - Macro Zoom Lens X300 Preto
171 - 180 CFM Ventilador de Coluna X450 Azul
172 - Halo 2 for Windows Vista M220
173 - Rise of Nations: Gold Edition 2009 E143
174 - Halo 2 for Windows Vista 2009 E130
175 - Wireless Azultooth Stereo Headphones M270 Branco
176 - Dal of Honor Airborne M150
177 - Simulador de Vôo X Acceleration Expansion Pack M200
178 - Classic Flight Collection2009 E164
179 - Rise of Nations2009 E152
180 - Hand Games for students E400 Vermelho
181 - Bicycle Casino Games2009 E167
182 - Bicycle Card Games X600
183 - Simulador de Vôo 2002 M360
184 - Age of Empires II: The Conquerors Expansion E125
185 - Hand Games for 12-16 boys E600 Amarelo
186 - Hand Games for kids E30 Vermelho
187 - Wireless Azultooth Stereo Headphones M402 Preto
188 - DVD Recorder L200 Preto
189 - Sistema de Som 2.1 Channel E211 Preto
190 - Age of Empires III: The Asian Dynasties 2008 E126
191 - Stereo Azultooth Headphones New Generation M370 Preto
192 - Zoo Tycoon 2: Zookeeper Collection 2008 E134
193 - Sistema de Som 2.1 Channel E211 Prata
194 - Simulador de Vôo X 2008 E133
195 - Age of Mythology: Gold Edition M310
196 - Hand Games for 12-16 boys E600 Vermelho
197 - Headphone Azultooth M150 Vermelho
198 - Train Simulator E124
199 - Hand Games for students E400 Prata
200 - Rise of Nations: Thrones and Patriots2009 E145
201 - Zoo Tycoon Marine Mania E120
202 - Zoo Tycoon 2: End Range Species Expansion Pack 2008 E138
203 - Hand Games for Office worker L28 Vermelho
204 - Hand Games for Office worker L299 Amarelo
205 - Simulador de Vôo de Combate 2009 E177
206 - Sistema de Som 2.1 Channel E212 Preto
207 - Headphone Azultooth X250 Preto
208 - Train Simulator 2009 E174
209 - Sistema de Som 2.1 Channel E1220 Branco
210 - MechCommander 2009 E173
211 - Impossible Creatures2009 E154
212 - Hand Games for students E400 Preto
213 - Sistema de Som 2.1 Channel E210 Preto
214 - RalliSport Challenge2009 E155
215 - Wireless Azultooth Stereo Headphones M402 Verde
216 - Stereo Azultooth Headphones New Generation M370 Amarelo
217 - Wireless Azultooth Stereo Headphones M170 Pink
218 - Wireless Azultooth Stereo Headphones M170 Prata
219 - Simulador de Vôo 2004: A Century of Flight E111
220 - Headphone Azultooth M150 Azul
221 - Zoo Tycoon 2: Extinct Animals 2008 E129
222 - Hand Games for students E40 Vermelho
223 - Wireless Azultooth Stereo Headphones M402 Vermelho
224 - Age of Empires II: The Age of Kings 2009 E180
225 - Zoo Tycoon Marine Mania 2009 E160
226 - Wireless Azultooth Stereo Headphones M402 Purple
227 - 4GB Video Caneta Gravadora X200 Preto
228 - Halo: Combat Evolved E109
229 - 2GB Pulse Smart pen M100 Azul
230 - Wireless Azultooth Stereo Headphones M402 Prata
231 - Simulador de Vôo de Combate 2009 E159
232 - Return of Arcade Anniversary Edition 2009 E176
233 - Wireless Azultooth Stereo Headphones M270 Prata
234 - Dungeon Siege II E105
235 - Dungeon 2007 E141
236 - Hand Games for 12-16 boys E600 Preto
237 - Zoo Tycoon 2: African Adventure 2008 E136
238 - MechWarrior 4 Mach Paks2009 E161
239 - Zoo Tycoon2009 E170
240 - Stereo Azultooth Headphones New Generation M370 Branco
241 - Rise of Nations: Rise of Legends 2008 E137
242 - Sistema de Som 2.1 Channel E210 Marrom
243 - Sistema de Som 2.1 Channel E212 Prata
244 - Zoo Tycoon 2008 E142
245 - Sistema de Som 5.1 Channel M513 Prata
246 - Sistema de Som 5.1 Channel M515 Prata
247 - Sistema de Som 4.1 Channel M410 Marrom
248 - Sistema de Som 5.1 Channel M1540 Branco
249 - Car Video TFT6.2W E6282 Prata
250 - Sistema de Som 2.1 Channel M1230 Marrom
251 - Azultooth Active Headphones L15 Preto
252 - Sistema de Som 4.1 Channel M1400 Preto
253 - Sistema de Som 5.1 Channel M1530 Branco
254 - Sistema de Som 4.1 Channel M1420 Branco
255 - 8GB Super-Slim MP3/Video Player M800 Vermelho
256 - Sistema de Som 5.1 Channel M1530 Prata
257 - 4GB Portable MP3 Player M450 Branco
258 - Sistema de Som 4.1 Channel M413 Prata
259 - Sistema de Som 2.1 Channel M1210 Prata
260 - Sistema de Som 4.1 Channel M1400 Prata
261 - Sistema de Som 5.1 Channel M1530 Marrom
262 - Sistema de Som 4.1 Channel M1410 Prata
263 - Sistema de Som 5.1 Channel M512 Prata
264 - Sistema de Som 5.1 Channel M511 Marrom
265 - Sistema de Som 7.1 Channel M710 Prata
266 - Headphone Azultooth X250 Prata
267 - 32GB Video MP3 Player M3200 Orange
268 - Sistema de Som 2.1 Channel M1230 Prata
269 - Sistema de Som 2.1 Channel M1210 Branco
270 - Sistema de Som 4.1 Channel M412 Preto
271 - Sistema de Som 4.1 Channel M1420 Preto
272 - Headphone Azultooth X250 Vermelho
273 - Sistema de Som 5.1 Channel M510 Prata
274 - Sistema de Som 4.1 Channel M413 Marrom
275 - Sistema de Som 2.1 Channel M1210 Preto
276 - Sistema de Som 5.1 Channel M1500 Marrom
277 - Sistema de Som 5.1 Channel M1500 Preto
278 - Sistema de Som 5.1 Channel M510 Marrom
279 - Sistema de Som 2.1 Channel M1230 Branco
280 - Sistema de Som 5.1 Channel M514 Prata
281 - Sistema de Som 4.1 Channel M1400 Branco
282 - Sistema de Som 4.1 Channel M1400 Marrom
283 - Sistema de Som 5.1 Channel M513 Marrom
284 - Sistema de Som 5.1 Channel M1520 Preto
285 - Sistema de Som 5.1 Channel M510 Preto
286 - Sistema de Som 5.1 Channel M1510 Branco
287 - Sistema de Som 4.1 Channel M1410 Marrom
288 - 4GB Portable MP3 Player M450 Amarelo
289 - Sistema de Som 5.1 Channel M515 Marrom
290 - Sistema de Som 5.1 Channel M512 Marrom
291 - 4GB Portable MP3 Player M450 Preto
292 - Sistema de Som 4.1 Channel M1410 Preto
293 - 32GB Video MP3 Player M3200 Preto
294 - 8GB MP3 Player new model M820 Azul
295 - Sistema de Som 5.1 Channel M1540 Prata
296 - 8GB MP3 Player new model M820 Amarelo
297 - Sistema de Som 5.1 Channel M1500 Prata
298 - Sistema de Som 7.1 Channel M1700 Prata
299 - Sistema de Som 5.1 Channel M514 Marrom
300 - 8GB Super-Slim MP3/Video Player M800 Verde
301 - Sistema de Som 5.1 Channel M1520 Marrom
302 - Sistema de Som 4.1 Channel M412 Prata
303 - Headphone Azultooth X250 Branco
304 - 8GB MP3 Player new model M820 Branco
305 - 32GB Video MP3 Player M3200 Pink
306 - Sistema de Som 4.1 Channel M412 Marrom
307 - LCD24W X300 Branco
308 - Sistema de Som 2.1 Channel M1230 Preto
309 - Sistema de Som 5.1 Channel M511 Preto
310 - Sistema de Som 4.1 Channel M1410 Branco
311 - Sistema de Som 5.1 Channel M1510 Marrom
312 - Sistema de Som 5.1 Channel M1520 Branco
313 - 8GB Super-Slim MP3/Video Player M800 Pink
314 - Headphone Azultooth X250 Azul
315 - Sistema de Som 7.1 Channel M1700 Preto
316 - Sistema de Som 5.1 Channel M1510 Prata
317 - Sistema de Som 4.1 Channel M410 Preto
318 - Sistema de Som 5.1 Channel M516 Prata
319 - Sistema de Som 7.1 Channel M1700 Marrom
320 - Sistema de Som 7.1 Channel M710 Marrom
321 - Laptop16 M610 Preto
322 - Laptop15.4W M518 Branco
323 - Laptop12 M0120 Preto
324 - Duplex Scanner M200 Verde
325 - USB Cable M250 Branco
326 - USB Cable M250 Azul
327 - DVD M360 Prata
328 - 512MB MP3 Player E51 Prata
329 - DVD 38 DVD Storage Binder E25 Vermelho
330 - Sistema de Som 5.1 Channel M1530 Preto
331 - Sistema de Som 2.1 Channel M1210 Marrom
332 - 8GB Clock & Radio MP3 Player X850 Prata
333 - 8xDVD E130 Prata
334 - Water Heater 1.5GPM E0800 Verde
335 - DVD 38 DVD Storage Binder E25 Prata
336 - DVD M360 Preto
337 - USB Cable M250 Preto
338 - 8xDVD E140 Prata
339 - DVD 7-Inch Player Portable E200 Preto
340 - DVD M320 Preto
341 - Water Heater 2.6GPM E0900 Verde
342 - DVD 38 DVD Storage Binder E25 Preto
343 - DVD 7-Inch Player Portable E200 Branco
344 - Sistema de Som 7.1 Channel M1700 Branco
345 - Lens Adapter M450 Grey
346 - 8xDVD E100 Prata
347 - Water Heater 1.5GPM E0800 Branco
348 - DVD 7-Inch Player Portable E200 Prata
349 - Color Inkjet Fax with 5.8 GHz Cordless Handset X250 Preto
350 - DVD M330 Prata
351 - DVD M330 Preto
352 - Sistema de Som 5.1 Channel M1500 Branco
353 - 8xDVD E100 Preto
354 - Sistema de Som 5.1 Channel M515 Preto
355 - DVD Movies E100 Amarelo
356 - Water Heater 1.5GPM E0800 Vermelho
357 - Coffee Maker 12C M1000 Prata
358 - Laptop8.9 E0089 Preto
359 - 1GB Pulse Smart pen E50 Prata
360 - Coffee Maker 12C M1000 Branco
361 - 8xDVD E130 Preto
362 - Lens Adapter M450 Preto
363 - USB Cable M250 Amarelo
364 - Coffee Maker 12C M1000 Grey
365 - Lens Adapter M450 Branco
366 - Water Heater 4.0GPM M1250 Vermelho
367 - Laptop8.9 E089 Preto
368 - 1GBPulse Smart pen E50 Preto
369 - Lens Adapter M450 Prata
370 - Water Heater 2.6GPM E0900 Azul
371 - Laptop8.9 E0089 Branco
372 - 1GB Pulse Smart pen E50 Branco
373 - Water Heater 1.5GPM E0800 Prata
374 - Water Heater 1.5GPM E0800 Grey
375 - DVD M320 Prata
376 - Water Heater 1.5GPM E0800 Azul
377 - 8xDVD E140 Preto
378 - Laptop8.9 E089 Branco
379 - Centrex Phone System L10 Preto
380 - Air conditioner 25000BTU L1672 Branco
381 - Sistema de Som 5.1 Channel M513 Preto
382 - Sistema de Som 4.1 Channel M1420 Prata
383 - Sistema de Som 4.1 Channel M1420 Marrom
384 - Water Heater 7.2GPM X1800 Branco
385 - LCD19W M100 Preto
386 - LCD19W M100 Branco
387 - Sistema de Som 5.1 Channel M516 Preto
388 - Sistema de Som 5.1 Channel M516 Marrom
389 - Sistema de Som 5.1 Channel M511 Prata
390 - 8xDVD E120 Preto
391 - Telephoto Conversion Lens M350 Preto
392 - Telephoto Conversion Lens M350 Prata
393 - Telephoto Conversion Lens M350 Branco
394 - DVD M310 Prata
395 - DVD M310 Preto
396 - Telephoto Conversion Lens M350 Azul
397 - 8xDVD E120 Prata
398 - Sistema de Som 7.1 Channel M710 Preto
399 - Sistema de Som 5.1 Channel M1520 Prata
400 - Sistema de Som 4.1 Channel M410 Prata
401 - Sistema de Som 5.1 Channel M1510 Preto
402 - Sistema de Som 5.1 Channel M512 Preto
403 - DVD E340 Preto
404 - DVD E340 Prata
405 - LCD20W M230 Preto
406 - LCD20 M200 Branco
407 - LCD20W M230 Branco
408 - Coffee Maker Auto 10C M1000 Branco
409 - 8GB Super-Slim MP3/Video Player M800 Branco
410 - 1GB Digital Voice Caneta Gravadora E100 Vermelho
411 - LCD20 M220 Branco
412 - 1GB Digital Voice Caneta Gravadora E100 Preto
413 - LCD20 M200 Preto
414 - 1GB Digital Voice Caneta Gravadora E100 Branco
415 - Car Video LCD9.2W X9281 Preto
416 - LCD20W M250 Preto
417 - Laptop Keyboard X105 Preto
418 - Laptop Keyboard X105 Marrom
419 - LCD20W M250 Branco
420 - Leather Case - case for digital photo camera X20 Preto
421 - 1GB Digital Voice Caneta Gravadora E100 Pink
422 - Leather Case - case for digital photo camera X20 Branco
423 - LCD20 M220 Preto
424 - Leather Case - case for digital photo camera X20 Grey
425 - Laptop Keyboard X105 Prata
426 - Coffee Maker Super-Auto 12C X1250 Branco
427 - Coffee Maker Super-Auto 12C X1250 Prata
428 - Coffee Maker Super-Auto 12C X1250 Grey
429 - Laptop Keyboard X105 Branco
430 - Sistema de Som 5.1 Channel M514 Preto
431 - Sistema de Som 5.1 Channel M1540 Preto
432 - 8GB MP3 Player new model M820 Preto
433 - Sistema de Som 5.1 Channel M1540 Marrom
434 - LCD22 M2000 Preto
435 - LCD22 M2000 Branco
436 - LCD22 M2002 Branco
437 - LCD22 M2002 Preto
438 - LCD22W M2001 Branco
439 - LCD22W M2001 Preto
440 - 22xDVD M600 Prata
441 - LCD22W M2003 Branco
442 - LCD22W M2003 Preto
443 - 32GB Video MP3 Player M3200 Branco
444 - 32GB Video MP3 Player M3200 Vermelho
445 - 4GB Video Caneta Gravadora X200 Vermelho
446 - 22xDVD M600 Preto
447 - Sistema de Som 4.1 Channel M413 Preto

In [37]:
PRODUTO = pd.get_dummies(categoricas['Produto'])
PRODUTO

,180 CFM Ventilador de Coluna X450 Azul,180 CFM Ventilador de Coluna X450 Branco,180 CFM Ventilador de Coluna X450 Preto,180 CFM Ventilador de Coluna X450 Vermelho,1GB Digital Voice Caneta Gravadora E100 Branco,1GB Digital Voice Caneta Gravadora E100 Pink,1GB Digital Voice Caneta Gravadora E100 Preto,1GB Digital Voice Caneta Gravadora E100 Vermelho,1GB Pulse Smart pen E50 Branco,1GB Pulse Smart pen E50 Prata,...,Zoo Tycoon 2: Zookeeper Collection M260,Zoo Tycoon Complete Collection E110,Zoo Tycoon Complete Collection2009 E150,Zoo Tycoon Dinosaur Digs X200,Zoo Tycoon Dinosaur Digs2009 E162,Zoo Tycoon M380,Zoo Tycoon Marine Mania 2009 E160,Zoo Tycoon Marine Mania E120,Zoo Tycoon2009 E170,Zoo Tycoon2: Marine Mania Expansion Pack 2008 E135
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203879,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

###### 4.2 - Categoria

In [44]:
for num, cate in enumerate(categoricas['Categoria'].unique()):
    print(f'{num+1} - {cate}')

1 - Sistema de Som
2 - Ventiladores
3 - Acessórios para Câmeras
4 - Games
5 - Jogos de Tabuleiro
6 - Headphone Bluetooth
7 - Monitores
8 - Car Video
9 - Acessórios para Computador
10 - Caneta Gravadora
11 - Cafeteira
12 - VCD & DVD
13 - Movie DVD
14 - Acessórios para Celular
15 - MP4&MP3
16 - Laptops
17 - Impressoras, Scanners & Fax
18 - Water Heaters
19 - Telefones p/ Casa e Escritório
20 - Ar Condicionado

In [45]:
CATEGORIA = pd.get_dummies(categoricas['Categoria'])
CATEGORIA

,Acessórios para Celular,Acessórios para Computador,Acessórios para Câmeras,Ar Condicionado,Cafeteira,Caneta Gravadora,Car Video,Games,Headphone Bluetooth,"Impressoras, Scanners & Fax",Jogos de Tabuleiro,Laptops,MP4&MP3,Monitores,Movie DVD,Sistema de Som,Telefones p/ Casa e Escritório,VCD & DVD,Ventiladores,Water Heaters
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203877,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
203878,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
203879,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
203880,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
203881,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

###### 4.3 - Marca

In [46]:
for num, ma in enumerate(categoricas['Marca'].unique()):
    print(f'{num+1} - {ma}')

1 - Litware
2 - Litware
3 - Contoso
4 - Hashtag Toys
5 - Southridge Video
6 - Northwind Traders
7 - Proseware
8 - Wide World Importers
9 - Contoso

In [59]:
# Repare que Litware e Contoso precisa ser tratado, pois está se repetindo.

categoricas['Marca'].unique()

array(['Litware'], dtype=object)

In [61]:
categoricas.Marca = categoricas[categoricas['Marca'] == 'Litware '] = 'Litware'
#categoricas[categoricas['Marca'] == 'Litware '] = 'Litware'

C:\Users\55859\AppData\Local\Temp\ipykernel_4248\43124628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas.Marca = categoricas.loc[ : ,'Marca' ] = "Litware"

,Data da Venda,Produto,Categoria,Marca,Nome Cliente,País,Continente
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,Litware,"Pinheiro, Vicente",França,Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Lopez, Marlon",Estados Unidos,América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Gonzalez, Martin",Chile,América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Ruiz, Victor",Alemanha,Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,"Nelson, Alex",Estados Unidos,América do Norte
...,...,...,...,...,...,...,...
203877,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verde,Headphone Bluetooth,Litware,"Hughes, Jennifer",Reino Unido,Europa
203878,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verde,Headphone Bluetooth,Litware,"Adams, Mary",Chile,América do Sul
203879,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verde,Headphone Bluetooth,Litware,"Rivera, Morgan",Estados Unidos,América do Norte
203880,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verde,Headphone Bluetooth,Litware,"Kumar, Adam",Estados Unidos,América do Norte
203881,2019-08-31 00:00:00,Wireless Azultooth Stereo Headphones M402 Verm...,Headphone Bluetooth,Litware,"Rodriguez, Fernando",Estados Unidos,América do Norte

In [26]:
MARCA = pd.get_dummies(categoricas['Marca'])
MARCA

,Contoso,Contoso,Hashtag Toys,Litware,Litware,Northwind Traders,Proseware,Southridge Video,Wide World Importers
0,0,0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
203877,0,0,0,0,0,1,0,0,0
203878,0,0,0,0,0,1,0,0,0
203879,0,0,0,0,0,1,0,0,0
203880,0,0,0,0,0,1,0,0,0
203881,0,0,0,0,0,1,0,0,0

###### 4.4 - Nome Cliente -> Está variável não vai para o modelo, então podemos remove-la.

In [27]:
categoricas.drop('Nome Cliente',axis=1, inplace=True)
categoricas.head()

C:\Users\55859\AppData\Local\Temp\ipykernel_7032\3779209229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricas.drop('Nome Cliente',axis=1, inplace=True)

,Data da Venda,Produto,Categoria,Marca,País,Continente
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,Litware,França,Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,Estados Unidos,América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,Chile,América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,Alemanha,Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,Litware,Estados Unidos,América do Norte

###### 4.5 - País

In [28]:
PAIS = pd.get_dummies(categoricas['País']) 
PAIS

,Alemanha,Armênia,Austrália,Brasil,Butão,Canadá,Chile,China,Coreia do Sul,Dinamarca,...,Rússia,Singapura,Suécia,Suíça,Síria,Tailândia,Taiwã,Turcomenistão,África do Sul,Índia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203878,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203879,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

###### 4.6 - Continente

In [29]:
CONTINENTE = pd.get_dummies(categoricas['Continente'])
CONTINENTE

        América do Norte  América do Sul  Europa  Oceania  África  Ásia
0                      0               0       1        0       0     0
1                      1               0       0        0       0     0
2                      0               1       0        0       0     0
3                      0               0       1        0       0     0
4                      1               0       0        0       0     0
...                  ...             ...     ...      ...     ...   ...
203877                 0               0       1        0       0     0
203878                 0               1       0        0       0     0
203879                 1               0       0        0       0     0
203880                 1               0       0        0       0     0
203881                 1               0       0        0       0     0

[203882 rows x 6 columns]

------------------

In [30]:
df = numericas
df.head()

   PrecoUnitario  Custo Unitário  Qtd. Vendida  Venda Real  Custo Real   Lucro
0        1109.00          367.43           1.0     1109.00      367.43  741.57
1         215.62           71.44           1.0      215.62       71.44  144.18
2         215.62           71.44           1.0      215.62       71.44  144.18
3         215.62           71.44           1.0      215.62       71.44  144.18
4         215.62           71.44           5.0     1078.10      357.20  720.90

In [31]:
df = df.join([PRODUTO, CATEGORIA, MARCA, PAIS, CONTINENTE])
df

,PrecoUnitario,Custo Unitário,Qtd. Vendida,Venda Real,Custo Real,Lucro,180 CFM Ventilador de Coluna X450 Azul,180 CFM Ventilador de Coluna X450 Branco,180 CFM Ventilador de Coluna X450 Preto,180 CFM Ventilador de Coluna X450 Vermelho,...,Taiwã,Turcomenistão,África do Sul,Índia,América do Norte,América do Sul,Europa,Oceania,África,Ásia
0,1109.00,367.43,1.0,1109.00,367.43,741.57,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,215.62,71.44,1.0,215.62,71.44,144.18,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,215.62,71.44,1.0,215.62,71.44,144.18,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,215.62,71.44,1.0,215.62,71.44,144.18,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,215.62,71.44,5.0,1078.10,357.20,720.90,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203877,99.99,45.98,1.0,99.99,45.98,54.01,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
203878,99.99,45.98,5.0,499.95,229.90,270.05,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
203879,99.99,45.98,3.0,299.97,137.94,162.03,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
203880,99.99,45.98,1.0,99.99,45.98,54.01,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
203881,99.99,45.98,3.0,299.97,137.94,162.03,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [35]:
df.columns.value_counts()

PrecoUnitario                             1
Sistema de Som 5.1 Channel M511 Preto     1
Sistema de Som 5.1 Channel M511 Marrom    1
Sistema de Som 5.1 Channel M510 Preto     1
Sistema de Som 5.1 Channel M510 Prata     1
                                         ..
Hand Games for students E400 Amarelo      1
Hand Games for students E40 Vermelho      1
Hand Games for students E40 Preto         1
Hand Games for students E40 Prata         1
Ásia                                      1
Length: 525, dtype: int64

In [36]:
df.describe()

,PrecoUnitario,Custo Unitário,Qtd. Vendida,Venda Real,Custo Real,Lucro,180 CFM Ventilador de Coluna X450 Azul,180 CFM Ventilador de Coluna X450 Branco,180 CFM Ventilador de Coluna X450 Preto,180 CFM Ventilador de Coluna X450 Vermelho,...,Taiwã,Turcomenistão,África do Sul,Índia,América do Norte,América do Sul,Europa,Oceania,África,Ásia
count,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,...,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000,203882.000000
mean,159.804995,66.437852,1.986880,314.754825,131.030044,183.724782,0.000780,0.000706,0.001251,0.000692,...,0.002398,0.002452,0.033274,0.005758,0.516058,0.129212,0.259444,0.007284,0.033274,0.054728
std,224.677022,85.880331,1.408089,583.330208,226.193123,364.624315,0.027915,0.026567,0.035344,0.026289,...,0.048915,0.049461,0.179352,0.075664,0.499743,0.335435,0.438331,0.085033,0.179352,0.227449
min,4.980000,2.540000,1.000000,4.980000,2.540000,2.440000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.990000,4.130000,1.000000,21.560000,11.000000,11.360000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,70.130000,32.250000,1.000000,99.990000,45.980000,54.880000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,181.000000,82.320000,3.000000,329.000000,161.250000,189.050000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1650.000000,546.680000,5.000000,8250.000000,2733.400000,5516.600000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.corr()