# Exercício *Gasolina Do Brasil.*

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [107]:
import pandas as pd

In [108]:
df_1 = pd.read_csv('C:/Users/55859/Desktop/Estudos/Data Science/02 Analisando dados com Pandas/DataSetes/gasolina_2000+.csv', index_col = 0)

In [109]:
df_2 = pd.read_csv('C:/Users/55859/Desktop/Estudos/Data Science/02 Analisando dados com Pandas/DataSetes/gasolina_2010+.csv', index_col = 0)

C:\Users\55859\AppData\Local\Temp\ipykernel_6476\889668878.py:1: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv('C:/Users/55859/Desktop/Estudos/Data Science/02 Analisando dados com Pandas/DataSetes/gasolina_2010+.csv', index_col = 0)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [110]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42638 entries, 0 to 52806
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   42638 non-null  object
 1   DATA FINAL                     42638 non-null  object
 2   REGIÃO                         42638 non-null  object
 3   ESTADO                         42638 non-null  object
 4   PRODUTO                        42638 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 6   UNIDADE DE MEDIDA              42638 non-null  object
 7   PREÇO MÉDIO REVENDA            42638 non-null  float64
 8   DESVIO PADRÃO REVENDA          42638 non-null  float64
 9   PREÇO MÍNIMO REVENDA           42638 non-null  float64
 10  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 11  MARGEM MÉDIA REVENDA           42638 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 6.2+ MB

In [111]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78185 entries, 9256 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   78185 non-null  object
 1   DATA FINAL                     78185 non-null  object
 2   REGIÃO                         78185 non-null  object
 3   ESTADO                         78185 non-null  object
 4   PRODUTO                        78185 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   78185 non-null  int64
 6   UNIDADE DE MEDIDA              78185 non-null  object
 7   PREÇO MÉDIO REVENDA            78185 non-null  float64
 8   DESVIO PADRÃO REVENDA          78185 non-null  float64
 9   PREÇO MÍNIMO REVENDA           78185 non-null  float64
 10  PREÇO MÁXIMO REVENDA           78185 non-null  float64
 11  MARGEM MÉDIA REVENDA           78185 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       78185 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       78185 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     78185 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      78185 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      78185 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  78185 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 11.3+ MB

#### Agora vamos juntar os dois arquivos em um só.

In [112]:
df_1.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [113]:
df_2.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.02,2.05,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.49,1.99,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.59,2.49,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

##### Perceba que é interessante notar que os dois métodos retornam o valor da coluna correspondente ao que está dentro de loc ou iloc.

In [114]:
df_1['NÚMERO DE POSTOS PESQUISADOS'].loc[2]

192

In [115]:
type(df_1['DATA INICIAL'])

pandas.core.series.Series

In [116]:
type(df_1['DATA INICIAL'].iloc[0])

str

In [117]:
df_2['NÚMERO DE POSTOS PESQUISADOS'].iloc[2]

141

In [118]:
type(df_2['DATA INICIAL'])

pandas.core.series.Series

In [119]:
type(df_2['DATA INICIAL'].iloc[0])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [120]:
df_1['DATA INICIAL'] = pd.to_datetime(df_1['DATA INICIAL'])

In [121]:
df_1['DATA FINAL'] = pd.to_datetime(df_1['DATA FINAL'])

In [122]:
type(df_1['DATA FINAL'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [123]:
df_2['DATA INICIAL'] = pd.to_datetime(df_2['DATA INICIAL'])

In [124]:
df_2['DATA FINAL'] = pd.to_datetime(df_2['DATA FINAL'])

In [125]:
type(df_2['DATA FINAL'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [126]:
df = pd.concat([df_1, df_2])
df.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [127]:
df['ANO - MÊS'] = df['DATA FINAL'].apply(lambda ano : "{}".format(ano.year)) + df['DATA FINAL'].apply(lambda mes : " - {:02d}".format(mes.month))

In [128]:
df.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO - MÊS
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004 - 05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004 - 05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004 - 05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.'m

In [129]:
df['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

In [130]:
df['REGIÃO'].value_counts()

NORDESTE        41671
NORTE           27989
SUDESTE         19270
CENTRO OESTE    17449
SUL             14444
Name: REGIÃO, dtype: int64

In [131]:
df['ESTADO'].value_counts()

PARAIBA                4819
RIO DE JANEIRO         4819
SAO PAULO              4819
RIO GRANDE DO SUL      4819
BAHIA                  4819
SANTA CATARINA         4818
RIO GRANDE DO NORTE    4818
MINAS GERAIS           4817
ESPIRITO SANTO         4815
PERNAMBUCO             4813
CEARA                  4813
PARANA                 4807
ALAGOAS                4806
SERGIPE                4795
MATO GROSSO DO SUL     4793
MATO GROSSO            4566
AMAZONAS               4414
GOIAS                  4134
PIAUI                  4017
MARANHAO               3971
DISTRITO FEDERAL       3956
PARA                   3955
TOCANTINS              3953
RONDONIA               3950
ACRE                   3948
RORAIMA                3938
AMAPA                  3831
Name: ESTADO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.
#### Detalhe importante é que eu poderia ter pego qualquer um deses:
    GASOLINA COMUM        
    GLP                   
    ETANOL HIDRATADO      
    ÓLEO DIESEL           
    GNV                   
    ÓLEO DIESEL S10      
    OLEO DIESEL S10   
    OLEO DIESEL         
    GASOLINA ADITIVADA

In [132]:
df_amostra = df[df['PRODUTO'] == 'GASOLINA COMUM']
df_amostra

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO - MÊS
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004 - 05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004 - 05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004 - 05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004 - 05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004 - 05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [133]:
df_amostra[df_amostra['ANO - MÊS'] == '2008 - 08']['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444447

In [134]:
df_amostra['ANO - MÊS'].info()

<class 'pandas.core.series.Series'>
Int64Index: 23570 entries, 12064 to 120725
Series name: ANO - MÊS
Non-Null Count  Dtype
--------------  -----
23570 non-null  object
dtypes: object(1)
memory usage: 368.3+ KB

In [135]:
df_amostra[df_amostra['ANO - MÊS'] == '2004 - 06']['NÚMERO DE POSTOS PESQUISADOS']

12145     144
12146     387
12147     199
12148     180
12149     108
         ...
12248    1090
12249    4140
12250     748
12251     817
12252     520
Name: NÚMERO DE POSTOS PESQUISADOS, Length: 108, dtype: int64

In [136]:
df_amostra[df_amostra['ESTADO'] == 'CEARA']

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO - MÊS
12070,2004-05-09,2004-05-15,NORDESTE,CEARA,GASOLINA COMUM,321,R$/l,2.148,0.080,1.930,2.340,0.344,0.037,1.804,0.034,1.715,1.937,0.019,2004 - 05
12097,2004-05-16,2004-05-22,NORDESTE,CEARA,GASOLINA COMUM,321,R$/l,2.147,0.080,1.930,2.340,0.338,0.037,1.809,0.035,1.7281,1.937,0.019,2004 - 05
12124,2004-05-23,2004-05-29,NORDESTE,CEARA,GASOLINA COMUM,329,R$/l,2.147,0.079,1.930,2.340,0.34,0.037,1.807,0.035,1.695,1.937,0.019,2004 - 05
12151,2004-05-30,2004-06-05,NORDESTE,CEARA,GASOLINA COMUM,317,R$/l,2.148,0.080,1.930,2.340,0.338,0.037,1.81,0.034,1.695,1.937,0.019,2004 - 06
12178,2004-06-06,2004-06-12,NORDESTE,CEARA,GASOLINA COMUM,326,R$/l,2.147,0.078,1.930,2.340,0.33,0.036,1.817,0.035,1.7194,1.937,0.019,2004 - 06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119990,2021-03-28,2021-04-03,NORDESTE,CEARA,GASOLINA COMUM,150,R$/l,5.488,0.096,5.159,5.899,-99999.0,0.017,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 04
120168,2021-04-04,2021-04-10,NORDESTE,CEARA,GASOLINA COMUM,150,R$/l,5.503,0.124,5.159,5.899,-99999.0,0.023,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 04
120347,2021-04-11,2021-04-17,NORDESTE,CEARA,GASOLINA COMUM,152,R$/l,5.503,0.107,5.190,5.899,-99999.0,0.019,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 04
120525,2021-04-18,2021-04-24,NORDESTE,CEARA,GASOLINA COMUM,137,R$/l,5.471,0.114,5.190,5.859,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 04
120704,2021-04-25,2021-05-01,NORDESTE,CEARA,GASOLINA COMUM,135,R$/l,5.490,0.103,5.159,5.699,-99999.0,0.019,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 05

### 9. Qual o preço médio de revenda da gasolina em maio de 2021 em Ceará?

In [137]:
df['ANO'] = df['DATA FINAL'].apply(lambda ano : '{}'.format(ano.year))
df['MÊS'] = df['DATA FINAL'].apply(lambda mes : '{}'.format(mes.month))
df.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO - MÊS,ANO,MÊS
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004 - 05,2004,5
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004 - 05,2004,5
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004 - 05,2004,5

In [138]:
df[(df['ANO'] == '2021') & (df['MÊS'] == '5')]['PREÇO MÉDIO REVENDA']

120645    5.048
120646    4.625
120647    4.750
120648    4.100
120649    4.074
          ...
120818    4.582
120819    4.141
120820    4.246
120821    4.464
120822    4.352
Name: PREÇO MÉDIO REVENDA, Length: 178, dtype: float64

In [139]:
df[(df['ANO'] == '2021') & (df['MÊS'] == '5')]['PREÇO MÉDIO REVENDA'].mean()

17.502089887640455

## Obs:
   *Vamos observar o tamanho do arquivo em df.*

In [140]:
type(df['DATA INICIAL'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [141]:
df[(df['PRODUTO'] == 'GASOLINA COMUM') & (df['PREÇO MÉDIO REVENDA'] > 5)][['REGIÃO','ESTADO','PREÇO MÉDIO REVENDA','MÊS','ANO']]

              REGIÃO              ESTADO  PREÇO MÉDIO REVENDA MÊS   ANO
24132   CENTRO OESTE    DISTRITO FEDERAL               33.989   5  2004
24133   CENTRO OESTE               GOIAS               30.335   5  2004
24134   CENTRO OESTE         MATO GROSSO               38.568   5  2004
24135   CENTRO OESTE  MATO GROSSO DO SUL               33.388   5  2004
24136       NORDESTE             ALAGOAS               32.391   5  2004
...              ...                 ...                  ...  ..   ...
120750       SUDESTE           SAO PAULO               85.340   5  2021
120751      NORDESTE             SERGIPE               83.508   5  2021
120752         NORTE           TOCANTINS               93.867   5  2021
120769         NORTE                ACRE                5.550   5  2021
120796         NORTE                ACRE                5.209   5  2021

[24304 rows x 5 columns]

##### Repare que está é uma nova forma de mostrar o data frame. Ainda é o mesmo df, porém, de maneira análoga ao SQL, ele me retornou uma tabela reduzida
##### e somente com os valores especificados por mim.
    Agora farei um teste, tentarei passar esses 353 linhas e 5 colunas para uma novo data frame.
    Observe que, o novo dataFrame está modificado. não se parece com o df que é o original.

In [142]:
teste = pd.DataFrame(df[(df['PRODUTO'] == 'GASOLINA COMUM') & (df['PREÇO MÉDIO REVENDA'] > 5)][['REGIÃO','ESTADO','PREÇO MÉDIO REVENDA','ANO - MÊS']])
teste

          REGIÃO          ESTADO  PREÇO MÉDIO REVENDA  ANO - MÊS
98201      NORTE            ACRE                5.053  2018 - 05
98347      NORTE            ACRE                5.035  2018 - 06
98493      NORTE            ACRE                5.038  2018 - 06
98511    SUDESTE  RIO DE JANEIRO                5.016  2018 - 06
98646      NORTE            ACRE                5.031  2018 - 06
...          ...             ...                  ...        ...
120721     NORTE         RORAIMA                5.364  2021 - 05
120722       SUL  SANTA CATARINA                5.051  2021 - 05
120723   SUDESTE       SAO PAULO                5.265  2021 - 05
120724  NORDESTE         SERGIPE                5.586  2021 - 05
120725     NORTE       TOCANTINS                5.751  2021 - 05

[353 rows x 4 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [143]:
df["REGIÃO"].unique()

array(['CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'],
      dtype=object)

#### Olha o poder disso, eu posso simplesmente comlocar função em grupos e pegar somente o que eu quiser.

In [144]:
teste_aux = df[df['REGIÃO'] == 'NORDESTE']
teste_x = teste_aux.groupby(['ESTADO','ESTADO','ANO'])
teste_x.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO - MÊS,ANO,MÊS
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004 - 05,2004,5
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,...,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,2004 - 05,2004,5
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,...,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,2004 - 05,2004,5
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,...,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082,2004 - 05,2004,5
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,...,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077,2004 - 05,2004,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117746,2020-12-27,2021-01-02,NORDESTE,PERNAMBUCO,GNV,5,R$/m3,2.939,0.000,2.939,...,-99999.0,0.000,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 01,2021,1
117748,2020-12-27,2021-01-02,NORDESTE,RIO GRANDE DO NORTE,GNV,8,R$/m3,3.557,0.036,3.510,...,-99999.0,0.010,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 01,2021,1
117761,2020-12-27,2021-01-02,NORDESTE,MARANHAO,OLEO DIESEL,15,R$/l,3.735,0.080,3.600,...,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 01,2021,1
117767,2020-12-27,2021-01-02,NORDESTE,PIAUI,OLEO DIESEL,19,R$/l,3.772,0.078,3.647,...,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 01,2021,1
117775,2020-12-27,2021-01-02,NORDESTE,SERGIPE,OLEO DIESEL,2,R$/l,3.895,0.006,3.890,...,-99999.0,0.002,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021 - 01,2021,1

### Agora como faço para saber o nome dos estados da região SUL?
    Simples, com a função unique(), ela retorna somente os únicos valores dos nomes dos estados da região sul.

In [145]:
teste_aux['ESTADO'].unique()

array(['ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE'], dtype=object)

In [146]:
teste_aux['ANO'].unique()

array(['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021'], dtype=object)

### Agora respondendo a pergunta 11 !

In [147]:
teste_aux[teste_aux['ANO'] == '2012']['PREÇO MÉDIO REVENDA']

10664    2.256
10665    2.090
10666    2.133
10667    2.211
10668    2.165
         ...
55596    2.080
55597    2.134
55598    2.139
55599    2.117
55600    2.149
Name: PREÇO MÉDIO REVENDA, Length: 2236, dtype: float64

### Agora o preço médio de todos os valores do ano de 2012 para a região do sul.

In [148]:
teste_aux2 = df[(df["DATA FINAL"].apply(lambda x: x.year) == 2012)]
teste_aux2[teste_aux2["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

9.842052564102566

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Ceará?

In [149]:
df['ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [150]:
df.head(2)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO - MÊS,ANO,MÊS
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004 - 05,2004,5
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004 - 05,2004,5

In [188]:
#tst = df[df['PREÇO MÉDIO REVENDA'] > 5]#['ESTADO','REGIÃO','ANO - MÊS', 'PREÇO MÍNIMO REVENDA', 'PREÇO MÁXIMO REVENDA']
#tst['ANO - MÊS']
df[df['ESTADO'] == 'CEARA'][['PREÇO MÉDIO REVENDA','ANO']]

        PREÇO MÉDIO REVENDA   ANO
6                     1.453  2004
33                    1.451  2004
60                    1.443  2004
87                    1.442  2004
114                   1.445  2004
...                     ...   ...
120704                5.490  2021
120731               91.672  2021
120755                3.726  2021
120774                4.424  2021
120801                4.380  2021

[4813 rows x 2 columns]

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
 18  ANO - MÊS                      120823 non-null  object
 19  ANO                            120823 non-null  object
 20  MÊS                            120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(13)
memory usage: 20.3+ MB